asgiref
certifi
contourpy
crispy-bootstrap5
cycler
distlib
dj-database-url
Django
django-crispy-forms
django-environ
django-recaptcha
django-tinymce
EasyProcess
entrypoint2
filelock
fontawesomefree
fonttools
kiwisolver
matplotlib
MouseInfo
mss
numpy
opencv-contrib-python
opencv-python
packaging
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyparsing
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
pytweening
setuptools
six
sqlparse
typing_extensions
tzdata
virtualenv